.headerWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #610300;
    color : #fff;
}

.headerWrap ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.headerWrap a,
.headerWrap a:visited,
.headerWrap a:active{
    color : #fff;
    text-decoration: none;
}